*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/public/data/
/public/demo1/
/public/demo2/
/public/demo3/
/public/demo4/
/public_bk/
login.txt
/public/venture/videos/
/public/venture/docs/RRR PREKSHITHA ENCLAVE BROCHURE.pdf
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
*.zip
*.tar.gz
*.rar
