<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent loop if already rewritten to public_html
    RewriteCond %{REQUEST_URI} !^/public_html/

    # Rewrite all incoming requests into public_html directory
    RewriteRule ^(.*)$ public_html/$1 [L]
</IfModule>

